* {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  background: #2f3437;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 48px;
  font-family: "Trispace", sans-serif;
  font-weight: bold;
}

.subtitle-principal {
  font-size: 18px;
  font-style: italic;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
}

#title,
.subtitle-principal {
  color: #fff;
}

.content-title-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  justify-content: center;
  height: 150px;
  width: 100vw;
  background: #6a6a6a;
}

#img-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 700px;
  background: #e4e4e4;
  padding: 16px;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin-top: 16px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
